.create-invoice-page {
  padding: 20px;
  position: relative; /* To position the back button absolutely */
  background-image: url('/src/assets/images/eggshellbg.jpg');
}

.create-invoice-page h1 {
  margin-bottom: 20px;
  text-align: center; /* Center the heading */
}

.back-to-create-invoice {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-to-create-invoice:hover {
  background-color: #0056b3;
}

.invoice-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.product-group {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls button {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.quantity-controls button:hover {
  background-color: #000;
}

.quantity-controls span {
  padding: 5px 10px;
}

.serial-number-group {
  display: flex;
  flex-direction: column;
  max-height: 150px; /* Set a fixed height */
  overflow-y: auto; /* Add vertical scroll if needed */
}

.serial-number-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

button[type="submit"],
button[type="button"] {
  padding: 10px 20px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #218838;
}

.delete-product {
  background-color: #dc3545;
  margin-top: 10px;
}

.delete-product:hover {
  background-color: #c82333;
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #5a6268;
}

.success-message {
  background-color: #28a745;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
}