html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.customers-page {
  padding: 20px;
  text-align: center;
  background-image: url(/src/assets/images/eggshellbg.jpg);
  min-height: 100vh; /* Ensures the element's height is at least 100% of the viewport height */
  width: 100%; /* Ensures the element's width is 100% of its parent */
  box-sizing: border-box;
}

.customers-page h1 {
  margin-bottom: 20px;
}

.search-bar {
  display: block;
  width: 50%; /* Adjusted width to make the search bar less long */
  max-width: 400px; /* Max width to prevent it from being too wide on large screens */
  padding: 10px;
  margin: 0 auto 20px auto; /* Center the search bar with auto margins */
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.customer-list {
  list-style-type: none;
  padding: 0;
}

.customer-item {
  margin-bottom: 20px;
}

.customer-button {
  padding: 10px 20px;
  background-color: #2e2e2e;
  color: white;
  border: 2px solid #4a4a4a;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 150px;
  text-align: center;
}

.customer-button:hover {
  background-color: #3a3a3a;
  border-color: #5a5a5a;
}

.phone-number-section {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone-number-input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.save-phone-number-button,
.delete-phone-number-button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #2e2e2e;
  color: white;
  border: 2px solid #4a4a4a;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.save-phone-number-button:hover,
.delete-phone-number-button:hover {
  background-color: #3a3a3a;
  border-color: #5a5a5a;
}

.edit-phone-number-button {
  padding: 5px 10px;
  margin-left: 10px;
  background-color: #2e2e2e;
  color: white;
  border: 2px solid #4a4a4a;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.edit-phone-number-button:hover {
  background-color: #3a3a3a;
  border-color: #5a5a5a;
}

.success-message {
  color: green;
  margin-top: 10px;
}

.saved-phone-number {
  font-size: 16px;
  color: #2e2e2e;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.invoice-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  text-align: left;
  width: 100%;
  max-width: 800px;
  margin: 0 auto; /* Center the invoice list */
}

.invoice-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
}

.invoice-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.invoice-details {
  margin-bottom: 20px;
}

.invoice-products {
  margin-bottom: 20px;
}

.invoice-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
}

.invoice-actions button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  font-size: 16px;
}

.invoice-actions button:hover {
  background-color: #0056b3;
}

.delete-invoice {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: black;
  border: none;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

.delete-invoice:hover {
  color: red;
}