html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.customers-page {
  padding: 20px;
  text-align: center;
  background-image: url(/src/assets/images/eggshellbg.jpg);
  min-height: 100vh; /* Ensures the element's height is at least 100% of the viewport height */
  width: 100%; /* Ensures the element's width is 100% of its parent */
  box-sizing: border-box;
}

.customers-page h1 {
  margin-bottom: 20px;
}

.search-bar {
  display: block;
  width: 50%; /* Adjusted width to make the search bar less long */
  max-width: 400px; /* Max width to prevent it from being too wide on large screens */
  padding: 10px;
  margin: 0 auto 20px auto; /* Center the search bar with auto margins */
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.customer-list {
  list-style-type: none;
  padding: 0;
}

.customer-item {
  margin-bottom: 20px;
}

.customer-button {
  padding: 10px 20px;
  background-color: #2e2e2e;
  color: white;
  border: 2px solid #4a4a4a;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 150px;
  text-align: center;
}

.customer-button:hover {
  background-color: #3a3a3a;
  border-color: #5a5a5a;
}

.invoice-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  text-align: left;
}

.invoice-item {
  background-color: #f8f9fa;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-item {
  background-color: #e9ecef;
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-bottom: 5px;
}

.customers {
  color: black;
}