html, body {
  height: 100%;
  margin: 0;
}

.select-invoice-type-page {
  padding: 20px;
  text-align: center;
  background-image: url(/src/assets/images/eggshellbg.jpg);
  background-size: cover; /* Ensures the background image covers the entire element */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  background-position: center; /* Centers the background image */
  min-height: 100vh; /* Ensures the element's height is at least 100% of the viewport height */
  height: 100%; /* Ensures the element's height is 100% of the viewport height */
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.invoice-type-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.invoice-type-button:hover {
  background-color: #0056b3;
}

.rules-section {
  margin-top: 40px;
}

.rules-section h1 {
  margin-bottom: 20px;
}

.rules-container {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.rule {
  width: 30%;
}

.rule h2 {
  margin-bottom: 10px;
}

.rule ul {
  list-style-type: disc;
  padding-left: 20px;
}

.rule li {
  margin-bottom: 5px;
}

.rule h2 {
  color: black;
}