/* src/components/Navbar.css */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #000;
  background-image: url('../assets/images/matteblackbg.jpg');
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid #dee2e6;
}

.navbar-logo {
  height: 50px;
  width: auto;
}

.navbar-title {
  color: white;
  margin-left: 10px;
}

.navbar-toggle {
  display: none;
  background-color: #000;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.navbar-buttons {
  display: flex;
}

.navbar-list {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-link {
  text-decoration: none;
}

.navbar-button {
  padding: 10px 20px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navbar-button:hover {
  background-color: #0056b3;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .navbar-buttons {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar-buttons.open {
    display: flex;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-list {
    flex-direction: column;
    width: 100%;
  }

  .navbar-item {
    width: 100%;
    text-align: center;
  }

  .navbar-button {
    width: 100%;
    margin: 5px 0;
  }
}

/* Popup styles */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.popup-content button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #0056b3;
}