.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px; /* Increased padding for a bigger navbar */
  background-color: black;
}

.navbar-logo-title {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 80px; /* Increased height for a bigger logo */
  width: auto;
  background-size: contain;
  background-repeat: no-repeat;
}

.navbar-title {
  color: white;
  margin-left: 20px; /* Increased margin for better spacing */
  font-size: 24px; /* Increased font size for the title */
  text-shadow: 2px 2px 4px gold; /* Added gold text shadow */
}

.navbar-toggle {
  display: none;
  background-color: black;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.navbar-buttons {
  display: flex;
  align-items: center;
}

.navbar-list {
  display: flex;
  gap: 20px; /* Increased gap for better spacing */
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-link {
  text-decoration: none;
}

.navbar-button {
  padding: 5px 10px; /* Decreased padding for smaller buttons */
  background-color: #2e2e2e; /* Smoke grey color */
  color: white;
  border: 2px solid #4a4a4a; /* Smoke grey outline */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  font-size: 14px; /* Decreased font size for the buttons */
  width: 120px; /* Fixed width for all buttons */
  text-align: center; /* Center text inside the buttons */
}

.navbar-button:hover {
  background-color: #3a3a3a;
  border-color: #5a5a5a;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .navbar-buttons {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar-buttons.open {
    display: flex;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-list {
    flex-direction: column;
    width: 100%;
  }

  .navbar-item {
    width: 100%;
    text-align: center;
  }

  .navbar-button {
    width: 100%;
    margin: 5px 0;
  }
}

/* Popup styles */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.popup-content button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #0056b3;
}